.row.clearfix
  .container
    %h2.text-center What are you looking for today?
    .col-md-6.col-sm-offset-3
      %input.form-control{placeholder: 'I am searching for...', type: 'text'}
  .row.text-center
    %p Siema
  .row.text-center
    %ul
      - @events.each do |event|
        %li= event.title
