.row.clearfix
  .container
    %h2.text-center What are you looking for today?
    .col-md-6.col-sm-offset-3
      %input.form-control{placeholder: 'I am searching for...', type: 'text'}
  .row.text-center
    %p
      = link_to 'Siema, przechodze na strone nowego eventa', new_event_path
  .row.text-center
    %ul
      - @events.each do |event|
        %li
          = event.title
          = link_to "Delete", event, method: :delete
